.simonetta-regular {
    font-family: "Simonetta", serif;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
}
body{
    background-image: url(Imagens/backgound\ do\ Lotus.png);
    background-position: center;
    background-repeat:  repeat;
    background-size:cover;
    height: 100vh;
}

.body-2{
    background-image: url(Imagens/backgound-do-Lotus-2.png);
    background-position: center;
    background-repeat:  repeat;
    background-size:cover;
    height: 112vh;
    padding: 5%;
}
.Rodape{
    background-image: url(Imagens/fundoRodape.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60%;
} 

.ImagemR{
    max-width: 40%; 
}


#Estoque, #loginIcon{
  cursor: pointer;
  width: 3.5%;
  margin: 0.5%;
}

.icone{
    display: flex;
    justify-content: end;
    margin-right: 1%;
}

.BordaQuadrado{
    height:800px;
    width:80%;
    border-radius: 15px;
    margin: auto;
    justify-content: center;
    align-content: space-between;
    padding: 2%; 
}

.Header{
    display: flex;
    justify-content: center;
    align-items: center;   
}

#Logo2{
    height: 400px;
}

.subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding: 5px;
}

hr{
    border: none;
    height: 1px;
    background-color: #8C0444;
    margin: 10px 0;
}

.QuemSomos{
    font-size: x-large;
    font-family: "Simonetta", serif;
    max-width: 30%;
    margin: 2%;
    text-align: justify;
}

.container{
    width: 100%;
    height: 90%;
  
}

#Doce{
    max-width: 100%;
    width: 800px;
    height: 400px; 
    border-bottom: #8C0444;
}

.conteiner2{
    display: flex;
    align-items: center; 
    gap: 20px;
    
}

#cardapioImagem{
    width: 25%
}


#bebidaImagem{
    width: 25%;
    margin-right: 0.6%;
}

button{
    border: none;
    border-radius: 10px 10px 10px;
}

.cafes{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.doces{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.outrasBebidas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.legendaCardapio{
    font-size: xx-large;
}